*, ::after, ::before {
  box-sizing: border-box;
}
html {
  max-width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.75;
  font-size: 1.25em;
  color: #1d1d1d;
  font-family: sans-serif;
}

.container-fluid{
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}
.row{
  display: flex;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.col{
  border: 1px solid #ccc;
  padding: 5px;
}
@media screen and (max-width: 600px) {
  html{
    overflow-x: scroll;
  }
  .col {
    float: none;
  }
}
.col {
  float: left;
}
.col-middle{
  min-width: 100px;
  flex: 1 0 0%;
}
.col-left{
  width: 200px!important;
}
.col-right{
  width: 300px!important;
}